.room-table-container {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .room-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .room-table th,
  .room-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .room-table th {
    background-color: #f8f8f8;
    color: #333;
  }
  
  .reserve-button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .reserve-button:hover {
    background-color: #002752;
  }
  
  span.booked {
    color: #999;
  }

  .rTitle {
    font-weight: 500;
  }
  
  .rDesc {
    font-weight: 300;
  }
  
  /* Стилі для селектора кількості кімнат */
  select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Медіа запити для респонсив дизайну */
  @media (max-width: 768px) {
    .room-table {
      font-size: 14px;
    }
    
    .reserve-button {
      padding: 5px 10px;
      font-size: 14px;
    }
  
    select {
      padding: 5px;
    }
  }
  
  /* Можна додати додаткові стилі для інших елементів, наприклад для відображення цін зі знижкою, лейблів пропозицій і т.д. */
  .discount-price {
    color: #ff6c00;
    font-weight: bold;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #999;
  }

  /*Room Search*/

  .roomSearch{
    margin-top: 20px;
    height: 30px;
    background-color: white;
    border: 3px solid #f3b303;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    /* position: absolute; */
    bottom: -25px;
    width:fit-content;
    max-width: 1024px;
}

.roomSearchIcon{
    color: lightgray;
    margin-left: 10px;
}

.roomSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.roomSearchInput{
    border: none;
    outline: none;
}

.roomSearchText{
    color: lightgray;
    cursor: pointer;
}

.roomSearchItem .date{
    /* position: absolute; */
    top: 910px;
    z-index: 2;
}

.roomSearchItem .options{
    z-index: 2;
    position: absolute;
    top: 910px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    
}

.roomSearchItem.options.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.roomSearchItem.options.optionItem.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.roomSearchItem.options.optionItem.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #0473c2;
    color: #0473c2;
    cursor: pointer;
    background-color: white;
    
    
}

.roomSearchItem.options.optionItem.optionCounterButton:disabled{
    cursor: not-allowed;
}

.roomBtn{
  background-color: #046bd3;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    /* padding-right: 5px; */
}