/* .login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  } */

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
  }
  
  .login-form {
    background: white;
    padding: 40px;
    /* border-radius: 8px; */
    border: 1px solid;
    border-color: #ff4a00;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 540px;
  }
  
  .login-form h1 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    /* margin-bottom: 20px; */
  }

  .loginHeader {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    gap: 20px;
  }
  .link {
    color: #8c8c8c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    margin-left: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 4px;
  }
  
  .login-button {
    width: 100%;
    background-color: #ff4a00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .login-button:disabled{
    background-color: #eb9877;
    cursor: not-allowed;
  }
  
  .forgot-password {
    display: block;
    margin-top: 20px;
    text-align: right;
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
  }
  
  .forgot-password:hover {
    color: #555;
  }