.navbar{
    height: 50px;
    background-color: #003b95;
    display: flex;
    justify-content: center;
    position: relative; /*+*/
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}

.navButton{
   margin-left: 20px;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   color:#003b95;
}

.menuOptions{
    z-index: 2;
    position: absolute;
    top: 50px;
    /* right:9%; */
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    
}

.menuOptionItem{
    width: 150px;
    display: flex;
    justify-content:left;
    margin: 20px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .menuOptions {
        right: calc((100% - 1024px) / 2); /* Розрахунок правого зазору */
    }
}

@media screen and (max-width: 1024px) {
    .menuOptions {
        right: 10px; /* Встановлюємо правий зазор 10px, коли ширина екрану менше 1024px */
    }
}

.headerIcon{
    color: lightgray;
    margin-right: 10;
}