.navbar{
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 10px;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    justify-content: space-between;
}


.logo{
    font-family: Inter, sans-serif;
    background: linear-gradient(90deg, #ffa800 0%, #ff4a00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: end;
    margin-top: 40px;
    flex-grow: 1;
    flex-basis: auto;
    font-size: 48px;
    font-weight: 700;
    margin-left: 3px;
}

.logo-img {
    aspect-ratio: 0.83;
    object-fit: auto;
    object-position: center;
    width: 73px;
    align-self: start;
}
.navItems{
    display: flex;
    gap: 10px;
}

.navButton{
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   color:#fff;
   background-color: #ff4a00;
   font: 400 14px Inter, sans-serif;
   padding: 11px 16px;
}

.userName{
    vertical-align: top;
    margin-top: -80px;
}

.menuOptions{
    z-index: 2;
    position: absolute;
    top: 40px;
    /* right:9%; */
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    
}

.menuOptionItem{
    width: 150px;
    display: flex;
    justify-content:left;
    margin: 20px;
    cursor: pointer;
}

.login-register{
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
    .menuOptions {
        right: calc((100% - 1024px) / 2); /* Розрахунок правого зазору */
    }
}

@media screen and (max-width: 1024px) {
    .menuOptions {
        right: 10px; /* Встановлюємо правий зазор 10px, коли ширина екрану менше 1024px */
    }
}

.headerIcon{
    color: lightgray;
    margin-right: 10;
}